/* Common */
* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
    background: url(img/noise.jpg);
}

select {
    text-align: center;
}

/* Chess board part */
#menu {
    display: flex;
    width: 640px;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    background-color: #969696;
    box-shadow: inset 0 25px 27px -10px #BDBDBD;
    border: 1px solid #424242;
}

p.menu_text {
    font-size: medium;
    color: #080808;
}

#menu div {
    display: flex;
    margin-right: 25px;
}

.chess_board {
    width: 640px;
    height: 640px;
    margin: auto;
    margin-top: 25px;
    border: 25px solid #333;
}

.chess_board div {
    width: 80px;
    height: 80px;
    display: table-cell;
    float: left;
    background-size: contain;
}

.chess_board .white {
     background-color: #fff;
}

.chess_board .black {
     background-color: #999;
}

.chess_board .selected {
     background-color: #33CC00;
}

.chess_board .checked {
     background-color: #F80000;
}

.black_pawn {
    background-image: url("/img/pawn_black.png");
}

.black_rook {
    background-image: url("/img/rook_black.png");
}

.black_bishop {
    background-image: url("/img/bishop_black.png");
}

.black_knight {
    background-image: url("/img/knight_black.png");
}

.black_queen {
    background-image: url("/img/queen_black.png");
}

.black_king {
    background-image: url("/img/king_black.png");
}

.white_pawn {
    background-image: url("/img/pawn_white.png");
}

.white_rook {
    background-image: url("/img/rook_white.png");
}

.white_bishop {
    background-image: url("/img/bishop_white.png");
}

.white_knight {
    background-image: url("/img/knight_white.png");
}

.white_queen {
    background-image: url("/img/queen_white.png");
}

.white_king {
    background-image: url("/img/king_white.png");
}
